.about-case {

    .container {
        padding-top: 72px;
        padding-bottom: 63px;
    }

    h2 {
        padding-bottom: 30px;
    }

    p {
        color: $dark;
        font-size: 20px;
        padding-bottom: 13px;
    }

    p::after {
        content: "\f061";
        color: $light;
        font-family: "fontAwesome";
        padding-left: 14px;
        position: relative;
        bottom: 5px;
        font-size: 12px;
        cursor: pointer;
    }

    //slither
    .slick-next, .slick-prev {
        position: absolute;
        bottom: -66px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .slick-prev {  
        right: 55px;   
    }

    .slick-next {
        right: 16px;
    }

    .fa-angle-left::before {
        content: "\f060" !important;
        color: $dark;
        font-size: 20px;
    }

    .fa-angle-right::before {
        content: "\f061" !important;
        color: $dark;
        font-size: 20px;
    }

}