@font-face {
    font-family: "Flama-Light";
    src: url("../fonts/Flama-Light.woff");
}

@font-face {
    font-family: "Flama-Regular";
    src: url("../fonts/Flama-Regular.woff");
}

@font-face {
    font-family: "Supermolot-Bold";
    src: url("../fonts/Supermolot-Bold.ttf");
}

@font-face {
    font-family: "Supermolot-Regular";
    src: url("../fonts/Supermolot-Regular.ttf");
}